body {
  background-color: lemonchiffon;
}

.navbar-custom {
  background-color: azure;
  margin-bottom: 20px;
}

.jumbo-top {
  background-color: lavender;
}

.jumbo-bottom {
  background-color: rgb(255, 192, 182);
}

.card {
  background-color: aliceblue;
}

.card-body {
  text-align: center;
}
